body{
    background-image: url('images/bg.png');
}

table {
    border: 1px solid grey;
    text-align: left;
    background: white;
    width: 80%;
    min-width: 890px;
    margin: auto;
}

table th {
    width: 35px;
    height: 20px;
    padding: 7px;
}

table #sales th{
    width: 50px;
}

#footer {
    background: lightgrey;
}

#footer th{
    background: white;
}

.page-top {
    text-align: center;
    margin: auto;
}

form {
    width: 890px;
    margin: auto;
    background: white;
}

input[type=text] {
    width: 250px;
}

input[type=number] {
    width: 50px;
}

button {
    margin-left: 20px;
}