
li:first-child{
    font-weight: bold;
    list-style-type: none;
}

body{
    background: seagreen;
}

table {
    border: 1px solid grey;
    text-align: left;
    background: white;
    margin: auto;
}

table th {
    width: 35px;
    height: 20px;
    padding: 7px;
}

#footer {
    background: lightgrey;
}

#footer th{
    background: white;
}

.page-top {
    text-align: center;
    margin: auto;
}

form {
    width: 890px;
    margin: auto;
}

input[type=text] {
    width: 250px;
}

input[type=number] {
    width: 50px;
}

button {
    margin-left: 40px;
}